/*--- Estilos generales ---*/
body {
    background: rgb(238,242,245); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,242,245,1) 0%, rgba(166,177,186,1) 24%, rgba(171,27,168,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238,242,245,1) 0%, rgba(166,177,186,1) 24%, rgba(171,27,168,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238,242,245,1) 0%, rgba(166,177,186,1) 24%, rgba(171,27,168,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f5', endColorstr='#ab1ba8',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat; /* Asegura que el fondo no se repita */
    background-size: cover; /* Ajusta el fondo para que cubra toda el área */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*--- O roja de Bondelic ---*/
.rojo { color: red; }


a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

#wrap {
    width: 960px;
    margin: 0 auto;
    clear: both;
    box-sizing: border-box;
}

/*--- HEADER ---*/
header {
    width: 100%;
    float: left;
    background: #fff;
    box-shadow: 0px 4px 5px #000;
}

#subheader {
    width: 960px;
    margin: auto;
    box-sizing: border-box;
}

#logotipo {
    float: left;
    width: 300px;
    padding: 10px 0;
}

#logotipo a {
    font-family: malvie;
    font-size: 60px;
    color: #000;
}

#logotipo a:hover {
    text-decoration: none;
}

/*--- MENU ---*/
header nav {
    float: left;
    width: 660px;
    padding: 30px 0;
    text-align: right;
}

header #subheader nav ul li {
    display: inline;
    font-family: sans-serif;
}

header #subheader nav ul li a {
    color: #000;
    font-size: 18px;
    padding: 10px;
    border-radius: 2px;
}

header #subheader nav ul li a:hover {
    color: #fff;
    background: #1798af;
    text-decoration: none;
}

/*---MAIN---*/
#main {
    width: 100%;
    margin: 20px 0;
    float: left;
}

/*---Slideshow---*/
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

/*---BIENVENIDOS---*/
#bienvenidos {
    width: 920px;
    float: left;
    padding: 20px;
    background: rgb(77,120,179);
    margin: 20px 0;
    box-shadow: 5px 4px 5px #000;
    border-radius: 5px;
}

#bienvenidos article h3 {
    font-family: malvie;
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}

#bienvenidos article ul li {
    list-style: none;
}

#bienvenidos article {
    color: #fff;
    line-height: 27px;
}

/*---CONTENIDO---*/
#contenido {
    width: 700px;
    float: left;
}

#contenido article {
    float: left;
    margin-bottom: 20px;
}

#contenido article .titulo {
    font-size: 25px;
    font-family: malvie;
    color: #fff;
}

#contenido article .fecha {
    font-size: 14px;
    color: #1798af;
    margin-bottom: 5px;
}

#contenido article .thumb {
    width: 220px;
    height: 150px;
    float: left;
    margin: 0 10px 10px 0;
}

#contenido article > p {
    color: #8c8c8c;
    font-size: 14px;
    text-align: justify;
}

/*---FOOTER---*/
footer {
    width: 100%;
    float: left;
    clear: both;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background: rgba(171, 27, 168, 0.9);
    margin-top: 20px;
    padding: 20px 0;
}

footer section {
    width: 440px;
    float: left;
    padding: 20px;
}

footer #acerca-de {
    font-family: malvie;
    font-size: 15px;
    color: #fff;
    text-align: justify;
    line-height: 20px;
}

footer #acerca-de h3 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

footer #redes-s > div {
    width: 160px;
    height: 40px;
    float: left;
    background: #ff8000;
    opacity: 0.7;
}

.twitter,
.facebook,
.instagram {
    font-size: 65px;
    list-style: none;
    margin: 40px;
    text-align: center;
    height: 60px;
    width: auto;
    transition: transform 0.3s ease;
}

.twitter:hover,
.facebook:hover,
.instagram:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.copyright {
    float: left;
    width: 960px;
    margin: 10px 0;
    background: rgba(140, 20, 140, 0.95);
    padding: 15px 0;
    border-radius: 0 0 5px 5px;
}

.copyright p {
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, Sans-serif;
}

.copyright2 {
    text-align: center;
    color: #fff;
    margin-top: auto;
    padding: 20px 0;
    background: rgba(94,94,94,0.8);
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

@keyframes ms {
    0% {
        opacity: 1;
        transform: scale(2.5);
    }
}

/*--- FORMULARIO DE CONTACTO ---*/
.popup {
    position: relative;
    width: 320px;
    margin: 40px auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    flex-grow: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #ECF1FD;
    box-shadow: 0px 0.5px 0.5px #EFEFEF;
    border-radius: 5px;
}

.icon svg {
    width: 34px;
    height: 34px;
}

.note {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.title {
    font-family: malvie, Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    color: #2B2B2F;
}

.subtitle {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #5F5D6B;
}

.input_field {
    width: 100%;
    height: 42px;
    padding: 0 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    font-family: Arial, sans-serif;
}

.input_field:focus {
    border: 1px solid #1798af;
    box-shadow: 0px 0px 0px 1px #1798af;
    background-color: transparent;
}

.form button.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    width: 100%;
    height: 42px;
    background: #1798af;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 0;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button.submit:hover {
    background: #146f80;
}

/* Media queries para responsividad */
@media screen and (max-width: 960px) {
    .popup {
        width: 90%;
        max-width: 320px;
    }
}

/* Ajustes para mantener el espacio entre el header y el formulario */
header + .popup {
    margin-top: 60px;
}

/* Aseguramos que los elementos del formulario no hereden estilos no deseados */
.form * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}














/* ----------------------------------Esto es de la pagina - Nosotros--------------------------------- */

.wrap {
    width: 960px;
    margin: 0 auto;
    clear: both;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Changed from height to min-height for better responsiveness */
}

.popup.nosotros-popup {
    position: relative;
    width: 920px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    flex-grow: 1;
}

.form.nosotros-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
}

.note.nosotros-note {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.title.nosotros-title {
    font-family: malvie, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #2B2B2F;
}

.subtitle.nosotros-subtitle {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5F5D6B;
    text-align: justify;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
    .wrap {
        width: 90%;
        padding: 0 20px;
    }

    .popup.nosotros-popup {
        width: 100%;
    }

    .form.nosotros-form {
        padding: 20px;
    }

    .title.nosotros-title {
        font-size: 32px;
    }

    .subtitle.nosotros-subtitle {
        font-size: 14px;
    }
}






/* ----------------------------------Contacto Page Styles--------------------------------- */
.contacto-wrap {
    width: 960px;
    margin: 0 auto;
    clear: both;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.contacto-popup {
    position: relative;
    width: 520px; /* Adjusted width for form */
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    flex-grow: 1;
}

.contacto-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-form label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #5F5D6B;
    margin-left: 5px;
}

.contact-form .textarea {
    min-height: 120px;
    resize: vertical;
    padding: 10px;
    line-height: 1.5;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
    .contacto-wrap {
        width: 90%;
        padding: 0 20px;
    }

    .contacto-popup {
        width: 100%;
        max-width: 520px;
    }

    .contacto-form {
        padding: 20px;
    }
}









/* ---------------------------------- Nosotros Dropdown Menu Styles --------------------------------- */
header #subheader nav ul li.dropdown {
    position: relative;
}

header #subheader nav ul li.dropdown:hover .dropdown-menu {
    display: block;
}

header #subheader nav ul .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%; /* Cambiar left a 50% para centrar */
    transform: translateX(-50%); /* Mover el menú hacia la izquierda para centrarlo */
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 4px;
}

header #subheader nav ul .dropdown-menu li {
    display: block;
    padding: 0;
}

header #subheader nav ul .dropdown-menu li a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    text-align: center; /* Centrar el texto */
}

header #subheader nav ul .dropdown-menu li a:hover {
    background-color: #f1f1f1;
    color: #1798af;
}
